select {
    font-family: 'Source Sans Pro';
    font-size: 1em;
    padding: 2px;
}

.header-div {
    margin: 30px 0;
}

.responsive {
    width: 100%;
    height: auto;
}

.first-select {
    margin-right: 30px;
}

@media screen and (max-width: 920px) {
    .second-select {
        display: block;
        margin: 20px 0;
    }
}

@media screen and (max-width: 500px) {
    select {
        display: block;
    }
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex-grow: 1;
}